@import "tailwindcss";

@theme {
  --animate-scan: scan 3s linear infinite;
  @keyframes scan {
    0% { transform: translateY(0); opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { transform: translateY(100vh); opacity: 0; }
  }

  --animate-ticker: ticker 25s linear infinite;
  @keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
  }
}

/* Tactical Map Popup Overrides */
.leaflet-popup-content-wrapper {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
}
.leaflet-popup-tip-container {
  display: none !important;
}
.leaflet-popup-content {
  margin: 0 !important;
}
